.root-container {
  width: 1200px;
  max-width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 15px;
}

.store__heading {
  margin: 5px 0;
}

.store__rule {
  margin: 0;
}

@media (max-width: 900px) {
  .root-container {
    grid-template-columns: 100%;
  }

  .left-side {
    order: 2;
  }

  .right-side {
    order: 1;
  }
}
