.root-container {
  width: 900px;
  max-width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 30px;
  padding: 20px;
}

.store__heading {
  margin: 5px 0;
  font-size: 1.25em;
  height: 25px;
}

.placeholder {
  margin: 25px 0;
}

.store__rule {
  margin: 0;
}

@media (max-width: 900px) {
  .root-container {
    grid-template-columns: 100%;
  }

  .left-side {
    order: 2;
  }

  .right-side {
    order: 1;
  }
}
